{
    "account":
    {
        "login": "name@domain",
        "password": "my_secure_password",
        "key": "account_key"
    },

    "api":
    {
        "api_nickname":
        {
            "key_api": "public_key",
            "key_secret": "key_ive_seen_only_once"
        }
    }
}